examples/Receive SERIAL or MIDI.json
[
    {
        "id": "ee28ba4b800851a3",
        "type": "tab",
        "label": "Receive SERIAL/MIDI Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16dc86e5bab031db",
        "type": "vban-receiver",
        "z": "ee28ba4b800851a3",
        "name": "",
        "VBANServerNodeId": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "ecebec9820f8646f"
            ]
        ]
    },
    {
        "id": "ecebec9820f8646f",
        "type": "vban-udp-security",
        "z": "ee28ba4b800851a3",
        "name": "",
        "allowedIps": "::1 ; 127.0.0.1 ; 192.168.0.0/16 ; 10.0.0.0/8 ; 172.16.0.0/12",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "17bf3e69dbdfc25e"
            ],
            [
                "c82d372822d966d5"
            ]
        ]
    },
    {
        "id": "17bf3e69dbdfc25e",
        "type": "function",
        "z": "ee28ba4b800851a3",
        "name": "",
        "func": "// 0x20 === SERIAL\nif(msg.payload.packet.subProtocol === 0x20) {\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "91375206d9e21204"
            ]
        ]
    },
    {
        "id": "91375206d9e21204",
        "type": "debug",
        "z": "ee28ba4b800851a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "c82d372822d966d5",
        "type": "debug",
        "z": "ee28ba4b800851a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "61ccc225db2818e2",
        "type": "comment",
        "z": "ee28ba4b800851a3",
        "name": "receive VBAN event",
        "info": "",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "e53b52bac39fb867",
        "type": "comment",
        "z": "ee28ba4b800851a3",
        "name": "check the sender ip",
        "info": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "238dfd03384a7abb",
        "type": "comment",
        "z": "ee28ba4b800851a3",
        "name": "filter on subProtocol (SERIAL / 0x20)",
        "info": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "33d03f7168c7ff93",
        "type": "comment",
        "z": "ee28ba4b800851a3",
        "name": "only SERIAL packet comes here",
        "info": "",
        "x": 1270,
        "y": 240,
        "wires": []
    }
]
