examples/Send TEXT.json
[
  {
    "id": "ee28ba4b800851a3",
    "type": "tab",
    "label": "Send Text Example",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0e0350d34b3f646c",
    "type": "vban-sender",
    "z": "7652c0b678af5461",
    "name": "",
    "VBANServerNodeId": "",
    "streamName": "",
    "address": "",
    "port": "",
    "x": 970,
    "y": 360,
    "wires": []
  },
  {
    "id": "8578ea6430d11c36",
    "type": "inject",
    "z": "7652c0b678af5461",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"packet\":{\"subProtocol\":\"TXT\",\"text\":\"recorder.load=\\\"C:\\\\\\\\soundboard\\\\text.wav\\\";recorder.Play=1;\"}}",
    "payloadType": "json",
    "x": 290,
    "y": 360,
    "wires": [
      [
        "0e0350d34b3f646c"
      ]
    ]
  },
  {
    "id": "65a8e3aa78097df5",
    "type": "comment",
    "z": "7652c0b678af5461",
    "name": "create an example packet, that will play a .wav file on the destination",
    "info": "",
    "x": 460,
    "y": 300,
    "wires": []
  },
  {
    "id": "2bc2ad55858b68c4",
    "type": "comment",
    "z": "7652c0b678af5461",
    "name": "Send to a specific destination address/port, with the same streamname, waited by the destination",
    "info": "",
    "x": 1230,
    "y": 300,
    "wires": []
  }
]
