examples/Advanced/Receive SERIAL or MIDI.json
[
    {
        "id": "ee9426709375d981",
        "type": "tab",
        "label": "Receive SERIAL/MIDI Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65a9b3a224a52d5b",
        "type": "vban-receiver",
        "z": "ee9426709375d981",
        "name": "",
        "VBANServerNodeId": "",
        "x": 330,
        "y": 300,
        "wires": [["23284ab5e24b2bc3"]]
    },
    {
        "id": "23284ab5e24b2bc3",
        "type": "vban-ip-filter",
        "z": "ee9426709375d981",
        "name": "",
        "allowedIps": "::1 ; 127.0.0.1 ; 192.168.0.0/16 ; 10.0.0.0/8 ; 172.16.0.0/12",
        "x": 530,
        "y": 300,
        "wires": [["25a2fad7274eec71"], ["604fd655f89e2744"]]
    },
    {
        "id": "25a2fad7274eec71",
        "type": "function",
        "z": "ee9426709375d981",
        "name": "",
        "func": "// 0x20 === SERIAL\nif(msg.payload.packet.subProtocol === 0x20) {\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [["0e145e0b6767c9c8"]]
    },
    {
        "id": "0e145e0b6767c9c8",
        "type": "debug",
        "z": "ee9426709375d981",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "604fd655f89e2744",
        "type": "debug",
        "z": "ee9426709375d981",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "9be17a3f9ae7efe1",
        "type": "comment",
        "z": "ee9426709375d981",
        "name": "receive VBAN event",
        "info": "",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "124b0f2a71fa63ef",
        "type": "comment",
        "z": "ee9426709375d981",
        "name": "check the sender ip",
        "info": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "6f39f6ea6ee4e5ca",
        "type": "comment",
        "z": "ee9426709375d981",
        "name": "filter on subProtocol (SERIAL / 0x20)",
        "info": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "d283cf9ec51e3a89",
        "type": "comment",
        "z": "ee9426709375d981",
        "name": "only SERIAL packet comes here",
        "info": "",
        "x": 1270,
        "y": 240,
        "wires": []
    }
]
