examples/Advanced/Receive AUDIO.json
[
    {
        "id": "f285f877ce578997",
        "type": "tab",
        "label": "Receive Audio Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "758c91eab6065705",
        "type": "vban-receiver",
        "z": "f285f877ce578997",
        "name": "",
        "VBANServerNodeId": "",
        "x": 330,
        "y": 300,
        "wires": [["1a82f499373189d7"]]
    },
    {
        "id": "1a82f499373189d7",
        "type": "vban-ip-filter",
        "z": "f285f877ce578997",
        "name": "",
        "allowedIps": "::1 ; 127.0.0.1 ; 192.168.0.0/16 ; 10.0.0.0/8 ; 172.16.0.0/12",
        "x": 590,
        "y": 300,
        "wires": [["98162d224574c9c0"], ["aa2af4edd0f3093f"]]
    },
    {
        "id": "98162d224574c9c0",
        "type": "function",
        "z": "f285f877ce578997",
        "name": "",
        "func": "// 0x00 === AUDIO\nif(msg.payload.packet.subProtocol === 0x00) {\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [["47b4a2c43d32664f"]]
    },
    {
        "id": "47b4a2c43d32664f",
        "type": "debug",
        "z": "f285f877ce578997",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "aa2af4edd0f3093f",
        "type": "debug",
        "z": "f285f877ce578997",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "18c9d1ec337472f0",
        "type": "comment",
        "z": "f285f877ce578997",
        "name": "receive VBAN event",
        "info": "",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2abb338c33974ac",
        "type": "comment",
        "z": "f285f877ce578997",
        "name": "check the sender ip",
        "info": "",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "51560afba7a8586b",
        "type": "comment",
        "z": "f285f877ce578997",
        "name": "filter on subProtocol (AUDIO / 0x00)",
        "info": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "fee3b9d43b10729a",
        "type": "comment",
        "z": "f285f877ce578997",
        "name": "only AUDIO packet comes here",
        "info": "",
        "x": 1270,
        "y": 240,
        "wires": []
    }
]
